body{
    /*background-image: url('media/school_01_only_school.png');
   background-size: 1800px;
   background-repeat: no-repeat;
   background-position: 390px 150px;*/
   background-color: rgb(255, 255, 255);
 }

 .bariscavusoglu {
   background-color: rgb(9, 255, 0);
   padding-left: 9px;
   padding-right: 9px;
   padding-top: 5px;
   padding-bottom: 5px;
   display: inline-block;
   position: absolute; 
   font-size: 18px;
   color: rgb(0, 0, 0);
   border:double;
   border-radius: 0px;
   font-family: 'Times New Roman', serif;
 }

 .e01 {
   background-color:rgb(0, 255, 0);
   display: inline-block;
   margin-left: 200px;
   margin-top: 600px;
   position: absolute; 
 }
 .e01:hover {
   background-color:rgb(176, 176, 176);
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 0px;
   padding-bottom: 0px; 
   margin-left: 80px;
   margin-top: 590px;
   font-size: 15px;
   border-radius: 30px;
   border:none;
   border-width: 2px;
   font-family: 'Times New Roman', serif;
   color:rgb(0, 30, 255);
   border-color: black;
   transform: scale(1, 4);
 }
 .e01 .e01_hover{
   display:none;
 }
 .e01:hover .e01_none {
   display: none;
 }
 .e01:hover .e01_hover {
   display: inline;
 }
 .e01:active {
   box-shadow: 4px 4px 10px rgb(0, 0, 0) inset;
 }

 .e02 {
   background-color:rgb(0, 255, 0);
   display: inline-block;
   margin-left: 320px;
   margin-top: 100px;
   position: absolute; 
 }
 .e02:hover {
   background-color:rgb(255, 0, 225);
   color:rgb(0, 0, 0);
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 0px;
   padding-bottom: 6px;
   margin-left: 290px;
   margin-top: 40px;
   font-size: 26px;
   border:none;
   border-width: 1px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   border-radius: 0px 0px 0px 0px;
   border-color: black;
 }
 .e02 .e02_hover{
   display:none;
 }
 .e02:hover .e02_none {
   display: none;
 }
 .e02:hover .e02_hover {
   display: inline;
 }
 .e02:active {
   box-shadow: 4px 4px 10px rgb(0, 0, 0) inset;
 }

 .e03 {
   background-color:rgb(0, 255, 0);
   display: inline-block;
   margin-left: 300px;
   margin-top: 750px;
   position: absolute; 
 }
 .e03:hover {
   background-color:rgb(0, 30, 255);
   color:rgb(204, 255, 0);
   margin-left: 240px;
   margin-top: 700px;
   padding-top: 13px;
   padding-bottom: 20px;
   border-width: 3px;
   font-size: 16px;
   border:none;
   border-radius: 5px 5px 60px 60px;
   transform: scale(3, 1);
 }
 .e03 .e03_hover{
   display:none;
 }
 .e03:hover .e03_none {
   display: none;
 }
 .e03:hover .e03_hover {
   display: inline;
 }
 .e03:active {
   box-shadow: 4px 4px 10px rgb(0, 0, 0) inset;
 }

 .e04 {
   background-color:rgb(0, 255, 0);
   display: inline-block;
   margin-left: 800px;
   margin-top: 500px;
   position: absolute;
 }
 .e04:hover {
   background-color:rgb(255, 0, 0);
   color:white;
   margin-left: 795px;
   margin-top: 450px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
   border-width: 3px;
   font-size: 20px;
   border:none;
   border-radius: 0px 0px 0px 0px;
   transform: scale(5, 1);
 }
 .e04 .e04_hover{
   display:none;
 }
 .e04:hover .e04_none {
   display: none;
 }
 .e04:hover .e04_hover {
   display: inline;
 }
 .e04:active {
   box-shadow: 4px 4px 10px rgb(0, 0, 0) inset;
 }

 .p01 {
   background-color:rgb(215, 215, 215);
   display: inline-block;
   margin-left: 200px;
   margin-top: 500px;
   position: absolute; 
 }
 .p01:hover {
   background-color:rgb(255, 0, 225);
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 0px;
   padding-bottom: 0px; 
   margin-left: 140px;
   margin-top: 490px;
   border-width: 0px;
   font-size: 20px;
   transform: scale(1, 5);
   border-radius: 0px 0px 0px 0px;
 }
 .p01 .p01_hover{
   display:none;
 }
 .p01:hover .p01_none {
   display: none;
 }
 .p01:hover .p01_hover {
   display: inline;
 }
 .p01:active {
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25) inset;
 }

 .p02 {
   background-color:rgb(215, 215, 215);
   display: inline-block;
   margin-left: 400px;
   margin-top: 400px;
   position: absolute; 
 }
 .p02:hover {
   background-color:rgb(229, 255, 0);
   padding: 10px;
   margin-left: 325px;
   margin-top: 390px;
   border-width: 3px;
   border-width: 0px;
   font-size: 19px;
   transform: scale(1, 1.5);
   border-radius: 0px 0px 0px 0px;
 }
 .p02 .p02_hover{
   display:none;
 }
 .p02:hover .p02_none {
   display: none;
 }
 .p02:hover .p02_hover {
   display: inline;
 }
 .p02:active {
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25) inset;
 }

 .p03 {
   background-color:rgb(215, 215, 215);
   display: inline-block;
   margin-left: 650px;
   margin-top: 200px;
   position: absolute; 
 }

 .p04 {
   padding:auto;
   background-color:rgb(215, 215, 215);
   display: inline-block;
   margin-left: 240px;
   margin-top: 280px;
   border:none;
   position: absolute;
   text-align: center;
 }
 .p04:hover {
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 240px;
   margin-left:200px;
   background-color:rgb(255, 0, 225);
   box-shadow: 0px 0px 2px 1px rgb(255, 0, 225);
   font-size: 20px;
   border-width: 1px;
   border-color: rgb(0, 0, 0);
   border-radius: 400px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .p04 .p04_hover{
   display:none;
 }
 .p04:hover .p04_none {
   display: none;
 }
 .p04:hover .p04_hover {
   display: inline;
 }
 .p04:active {
   box-shadow: 4px 4px 10px rgb(75, 75, 75) inset;
 }

 .p05 {
   background-color:rgb(215, 215, 215);
   display: inline-block;
   margin-left: 800px;
   margin-top: 200px;
   position: absolute; 
 }

 .p06 {
   background-color:rgb(215, 215, 215);
   display: inline-block;
   margin-left: 415px;
   margin-top: 100px;
   position: absolute; 
 }

 .p07 {
   background-color:rgb(215, 215, 215);
   display: inline-block;
   margin-left: 800px;
   margin-top: 300px;
   position: absolute; 
 }

 .p08 {
   background-color:rgb(215, 215, 215);
   display: inline-block;
   margin-left: 800px;
   margin-top: 400px;
   position: absolute; 
 }

 .bio {
   background-color:rgb(255, 255, 255);
   z-index: 1;
   display: inline-block;
   padding: 40px;
   border-radius: 20px;
   margin-left: 450px;
   margin-top: 500px;
   position: absolute;
   border: solid;
   border-width: 2px;
   border-color: rgb(111, 111, 111);
 }
 .bio:hover{
   background-color:rgb(0, 255, 0);
 }
 .bio:active {
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25) inset;
 }
 .bio .bio_hover{
   display:none;
 }
 .bio:hover .bio_none {
   display: none;
 }
 .bio:hover .bio_hover {
   display: inline;
 }

 .contact {
   background-color:rgb(255, 255, 255);
   display: inline-block;
   margin-left: 120px;
   margin-top: 400px;
   position: absolute; 
 }
 .contact:hover {
   background-color:rgb(0, 229, 255);
   display: inline-block;
   margin-left: 120px;
   margin-top: 400px;
   position: absolute;
   border:hidden;
   transform:scale(1, 6);
 }

 .press {
   background-color:rgb(255, 255, 255);
   display: inline-block;
   margin-left: 650px;
   margin-top: 750px;
   position: absolute; 
 }

 .images {
   background-color:rgb(255, 255, 255);
   display: inline-block;
   margin-left: 120px;
   margin-top: 200px;
   position: absolute; 
   border-color: rgb(139, 139, 139);
 }

 .insp {
   background-color:rgb(255, 255, 255);
   display: inline-block;
   margin-left: 370px;
   margin-top: 200px;
   position: absolute; 
 }

 .color {
   background-color:rgb(255, 255, 255);
   display: inline-block;
   margin-left: 570px;
   margin-top: 400px;
   position: absolute; 
 }